asgiref==3.2.3
attrs==19.3.0
CacheControl==0.12.5
cachetools==3.1.1
cachy==0.2.0
certifi==2019.11.28
chardet==3.0.4
cleo==0.6.8
Django==3.1.12
google-api-python-client==1.7.11
google-auth==1.8.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
jsonschema==3.2.0
lockfile==0.12.2
msgpack==0.6.2
oauthlib==3.1.0
pastel==0.1.1
pkginfo==1.5.0.1
poetry==0.12.17
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pylev==1.3.0
pyparsing==2.4.5
pyrsistent==0.14.11
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
rsa==4.0
shellingham==1.3.1
six==1.13.0
sqlparse==0.3.0
tomlkit==0.5.8
uritemplate==3.0.0
urllib3==1.25.7
webencodings==0.5.1
